<p id="notice"><%= notice %></p>

<h1>Bell Values</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Collectible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bell_values.each do |bell_value| %>
      <tr>
        <td><%= bell_value.value %></td>
        <td><%= bell_value.collectible_id %></td>
        <td><%= link_to 'Show', bell_value %></td>
        <td><%= link_to 'Edit', edit_bell_value_path(bell_value) %></td>
        <td><%= link_to 'Destroy', bell_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bell Value', new_bell_value_path %>
