<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collection.title %>
</p>

<% @collectibles.each do |collectible| %>
  <%= form_with do |f| %>
    <p><%= link_to collectible.name, collectible %></p>
    <p><%= collectible.thumbnail %></p>
    <%= check_box_tag "Complete", collectible.complete, collectible.complete %>
  <% end %>
<% end %>

<table>
  <tbody>
    <tr>
      <% @collectibles.first.collectible_attributes.each do |att| %>
        <td><%= att.name %></td>
      <% end %>
    </tr>
    <% @collectibles.each do |collectible| %>
      <tr>
        <% collectible.collectible_attributes.each do |att| %>
          <td><%= att.value %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
