<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @month.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @month.number %>
</p>

<%= link_to 'Edit', edit_month_path(@month) %> |
<%= link_to 'Back', months_path %>
