<%= form_with(model: rarity, local: true) do |form| %>
  <% if rarity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rarity.errors.count, "error") %> prohibited this rarity from being saved:</h2>

      <ul>
        <% rarity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :collectible_id %>
    <%= form.text_field :collectible_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
