<p id="notice"><%= notice %></p>

<h1>Rarities</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Collectible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rarities.each do |rarity| %>
      <tr>
        <td><%= rarity.value %></td>
        <td><%= rarity.collectible_id %></td>
        <td><%= link_to 'Show', rarity %></td>
        <td><%= link_to 'Edit', edit_rarity_path(rarity) %></td>
        <td><%= link_to 'Destroy', rarity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rarity', new_rarity_path %>
