<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @rarity.value %>
</p>

<p>
  <strong>CollectibleAttribute:</strong>
  <%= @rarity.collectible_attribute.id %>
</p>

<%= link_to 'Edit', edit_rarity_path(@rarity) %> |
<%= link_to 'Back', rarities_path %>
