<p id="notice"><%= notice %></p>

<h1>Time Of Days</h1>

<table>
  <thead>
    <tr>
      <th>Collectible</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_of_days.each do |time_of_day| %>
      <tr>
        <td><%= time_of_day.collectible_id %></td>
        <td><%= time_of_day.start %></td>
        <td><%= time_of_day.end %></td>
        <td><%= link_to 'Show', time_of_day %></td>
        <td><%= link_to 'Edit', edit_time_of_day_path(time_of_day) %></td>
        <td><%= link_to 'Destroy', time_of_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Of Day', new_time_of_day_path %>
