<p id="notice"><%= notice %></p>

<h1>Fish Sizes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fish_sizes.each do |fish_size| %>
      <tr>
        <td><%= fish_size.name %></td>
        <td><%= link_to 'Show', fish_size %></td>
        <td><%= link_to 'Edit', edit_fish_size_path(fish_size) %></td>
        <td><%= link_to 'Destroy', fish_size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fish Size', new_fish_size_path %>
