<p id="notice"><%= notice %></p>

<h1>Villager Catchphrases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @villager_catchphrases.each do |villager_catchphrase| %>
      <tr>
        <td><%= link_to 'Show', villager_catchphrase %></td>
        <td><%= link_to 'Edit', edit_villager_catchphrase_path(villager_catchphrase) %></td>
        <td><%= link_to 'Destroy', villager_catchphrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Villager Catchphrase', new_villager_catchphrase_path %>
