<p id="notice"><%= notice %></p>

<h1>Villager Species</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @villager_species.each do |villager_specy| %>
      <tr>
        <td><%= link_to 'Show', villager_specy %></td>
        <td><%= link_to 'Edit', edit_villager_specy_path(villager_specy) %></td>
        <td><%= link_to 'Destroy', villager_specy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Villager Specy', new_villager_specy_path %>
