<%= form_with(model: passport_title, local: true) do |form| %>
  <% if passport_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passport_title.errors.count, "error") %> prohibited this passport_title from being saved:</h2>

      <ul>
        <% passport_title.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
