<p id="notice"><%= notice %></p>

<h1>Collectible Sorts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Keyword</th>
      <th>Collectible attribute class name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collectible_sorts.each do |collectible_sort| %>
      <tr>
        <td><%= collectible_sort.name %></td>
        <td><%= collectible_sort.keyword %></td>
        <td><%= collectible_sort.collectible_attribute_class_name %></td>
        <td><%= link_to 'Show', collectible_sort %></td>
        <td><%= link_to 'Edit', edit_collectible_sort_path(collectible_sort) %></td>
        <td><%= link_to 'Destroy', collectible_sort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collectible Sort', new_collectible_sort_path %>
