<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collectible_sort.name %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @collectible_sort.keyword %>
</p>

<p>
  <strong>Collectible attribute class name:</strong>
  <%= @collectible_sort.collectible_attribute_class_name %>
</p>

<%= link_to 'Edit', edit_collectible_sort_path(@collectible_sort) %> |
<%= link_to 'Back', collectible_sorts_path %>
