<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @timespan.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @timespan.end %>
</p>

<%= link_to 'Edit', edit_timespan_path(@timespan) %> |
<%= link_to 'Back', timespans_path %>
