<%= form_with(model: collectible_attribute, local: true) do |form| %>
  <% if collectible_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collectible_attribute.errors.count, "error") %> prohibited this collectible_attribute from being saved:</h2>

      <ul>
        <% collectible_attribute.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :collectible_id %>
    <%= form.text_field :collectible_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
