<%= form_with(model: collectible_attribute, local: true) do |form| %>
    <% if collectible_attribute.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(collectible_attribute.errors.count, "error") %> prohibited this collectible_attribute from being saved:</h2>
  
        <ul>
          <% collectible_attribute.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <% if (form.object.collectible_attribute_value.class == Rarity) then %>
        <%= render "rarities/show", rarity: form.object.collectible_attribute_value %>
    <% elsif (form.object.collectible_attribute_value.class == BellValue) then %>
        <%= render "bell_values/show", bell_value: form.object.collectible_attribute_value %>
    <% elsif (form.object.collectible_attribute_value.class == TimeOfDay) then %>
        <%= render "time_of_days/show", time_of_day: form.object.collectible_attribute_value %>
    <% elsif (form.object.collectible_attribute_value.class == TimeOfYear) then %>
        <%= render "time_of_years/show", time_of_year: form.object.collectible_attribute_value %>
    <% elsif form.object.collectible_attribute_value.class == FishingLocation %>
      <%= render "fishing_locations/show", fishing_location: form.object.collectible_attribute_value %>
    <% elsif form.object.collectible_attribute_value.class == BugLocation %>
      <%= render "bug_locations/show", bug_location: form.object.collectible_attribute_value %>
    <% elsif form.object.collectible_attribute_value.class == ShadowSize %>
      <%= render partial: "shadow_sizes/show", locals: { shadow_size: form.object.collectible_attribute_value } %>
    <% end %>
  
  <% end %>
  