<p id="notice"><%= notice %></p>

<h1>Collectible Attributes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Collectible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collectible_attributes.each do |collectible_attribute| %>
      <tr>
        <td><%= collectible_attribute.name %></td>
        <td><%= collectible_attribute.collectible_id %></td>
        <td><%= link_to 'Show', collectible_attribute %></td>
        <td><%= link_to 'Edit', edit_collectible_attribute_path(collectible_attribute) %></td>
        <td><%= link_to 'Destroy', collectible_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collectible Attribute', new_collectible_attribute_path %>
