<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collectible_attribute.name %>
</p>

<p>
  <strong>Collectible:</strong>
  <%= @collectible_attribute.collectible_id %>
</p>

<%= link_to 'Edit', edit_collectible_attribute_path(@collectible_attribute) %> |
<%= link_to 'Back', collectible_attributes_path %>
