<%= form_with(model: collectible, local: true) do |form| %>
  <% if collectible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collectible.errors.count, "error") %> prohibited this collectible from being saved:</h2>

      <ul>
        <% collectible.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :collection_id %>
    <%= form.text_field :collection_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
