<div id="modal_contents">
	<p id="notice"><%= notice %></p>

	<span class="modal-close">X</span>

	<h3 id='modal-collectible-name'><%= collectible.name %></h3>
	<%= link_to collectible_toggle_path(collectible_id: collectible.id, user_id: user.id), :data => {:remote => true, :method => :patch}, id: 'modal-toggle' do %>
		<% unless collectible.thumbnail == nil%>
			<%= image_tag collectible.thumbnail, height: '100', width: '100', id: 'modal-collectible-thumbnail' %>
		<% end %>
	<% end %>
	
	
	
	<% if collectible.users.include?(@user)%>
					
		<% completions = @user.my_collected_collectibles.find_by(collectible:collectible).completions %>
		<% if completions %>
			<% completions.each do |completion| %>
				
				<%= check_box_tag "Complete", 
					completion[1], 
					completion[1] == 'true',
					id: 'modal-checkbox',
					:data => {:remote => true, :url => url_for(collectible_toggle_path(collectible_id: collectible.id, user_id: user.id)), :method => :patch},
					data_value: collectible.id  %>
			<% end %>
		<% end %>
	<% end %>

	<div class="collectible-data">
		<% collectible_attribute_counter = 0 %>
		<% collectible.collectible_attributes.each do |att|%>
			<p class="modal-collectible-attribute-type" value='<%= collectible_attribute_counter %>'><%= att.collectible_attribute_value.label %></p>
			<div class="modal-collectible-attribute-value" value='<%= collectible_attribute_counter %>'><%= render partial: 'collectible_attributes/show', locals: { collectible_attribute: att } %></div>
			<% collectible_attribute_counter = collectible_attribute_counter + 1 %>
		<% end %>
	</div>

	
</div>