<div class="modal">

  <p id="notice"><%= notice %></p>

  <span class="modal-close"><%= link_to 'X', @collectible.collection %></span>

  <h3><%= @collectible.name %></h3>
  <%= image_tag(@collectible.thumbnail, size: "100") %>
  <%= check_box_tag "Complete", @collectible.complete, @collectible.complete %>

  <div class="collectible-data">
    <% @collectible.collectible_attributes.each do |att|%>
      <p><%= att.collectible_attribute_value_type %></p>
      <%= render partial: 'collectible_attributes/show', locals: { collectible_attribute: att } %>
    <% end %>
  </div>
  
  <div class="collectible-edit">
    <%= link_to 'Edit', edit_collectible_path(@collectible) %>
  </div>

</div>