<p id="notice"><%= notice %></p>

<h1>Collectibles</h1>

<table>
  <thead>
    <tr>
      <th>Collection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collectibles.each do |collectible| %>
      <tr>
        <td><%= collectible.collection_id %></td>
        <td><%= link_to 'Show', collectible %></td>
        <td><%= link_to 'Edit', edit_collectible_path(collectible) %></td>
        <td><%= link_to 'Destroy', collectible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collectible', new_collectible_path %>
