<%= form_with(model: personality_type, local: true) do |form| %>
  <% if personality_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personality_type.errors.count, "error") %> prohibited this personality_type from being saved:</h2>

      <ul>
        <% personality_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
