<%= form_with(model: shadow_size, local: true) do |form| %>
  <% if shadow_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shadow_size.errors.count, "error") %> prohibited this shadow_size from being saved:</h2>

      <ul>
        <% shadow_size.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fishsize_id %>
    <%= form.text_field :fishsize_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
