<p id="notice"><%= notice %></p>

<h1>Shadow Sizes</h1>

<table>
  <thead>
    <tr>
      <th>Fishsize</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shadow_sizes.each do |shadow_size| %>
      <tr>
        <td><%= shadow_size.fishsize_id %></td>
        <td><%= link_to 'Show', shadow_size %></td>
        <td><%= link_to 'Edit', edit_shadow_size_path(shadow_size) %></td>
        <td><%= link_to 'Destroy', shadow_size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shadow Size', new_shadow_size_path %>
