<p id="notice"><%= notice %></p>

<h1>Collectible Attribute List Items</h1>

<table>
  <thead>
    <tr>
      <th>Collectible attribute list</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collectible_attribute_list_items.each do |collectible_attribute_list_item| %>
      <tr>
        <td><%= collectible_attribute_list_item.collectible_attribute_list_id %></td>
        <td><%= collectible_attribute_list_item.position %></td>
        <td><%= link_to 'Show', collectible_attribute_list_item %></td>
        <td><%= link_to 'Edit', edit_collectible_attribute_list_item_path(collectible_attribute_list_item) %></td>
        <td><%= link_to 'Destroy', collectible_attribute_list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collectible Attribute List Item', new_collectible_attribute_list_item_path %>
