<%= form_with(model: string_collectible_attribute, local: true) do |form| %>
  <% if string_collectible_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(string_collectible_attribute.errors.count, "error") %> prohibited this string_collectible_attribute from being saved:</h2>

      <ul>
        <% string_collectible_attribute.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
