<%= form_with(model: island_collection, local: true) do |form| %>
  <% if island_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(island_collection.errors.count, "error") %> prohibited this island_collection from being saved:</h2>

      <ul>
        <% island_collection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :thumbnail %>
    <%= form.text_field :thumbnail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
