<%= form_for island_collection  do |form| %>
  <% if island_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(island_collection.errors.count, "error") %> prohibited this island_collection from being saved:</h2>

      <ul>
        <% island_collection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :thumbnail %>
    <%= form.text_field :thumbnail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <table>
    <tr>
        <td>Collectible</td>
        <td>Collectible thumbnail</td>
        <td>Completed</td>
        <% @collectibles.first.collectible_attributes.each do |collectible_attribute| %>
            <td><%= collectible_attribute.collectible_attribute_type.name %></td>
        <% end %>
    </tr>
    <%= form.fields_for :collectibles, island_collection.collectibles.each do |collectible| %>
        <tr>
            <td><%= collectible.text_field :name %></td>
            <td><%= collectible.text_field :thumbnail %></td>
            <td><%= collectible.check_box :complete %></td>
            <%= collectible.fields_for :collectible_attributes, collectible.object.collectible_attributes.each do |collectible_attribute| %>
                <td>
                  <%= collectible_attribute.fields_for :collectible_attribute_value, collectible_attribute.object.collectible_attribute_value do |collectible_attribute_value| %>
                    <% if collectible_attribute.object.collectible_attribute_value.class == BellValue %>
                      Bell value:  <%= collectible_attribute_value.label collectible_attribute_value.object.value %>
                      <%= collectible_attribute_value.number_field :value %>
                    <% end %>
                  <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>
  </table>
<% end %>
