<p id="notice"><%= notice %></p>

<h1>Island Collections</h1>

<section class="island-collections">
	<% @island_collections.each do |island_collection| %>
		<div class="island-collection-item">
			<% unless island_collection.thumbnail == nil%>
				<%= image_tag island_collection.thumbnail, height: '100', width: '100' %>
			<% end %>
			<p><%= island_collection.title %></p>
			<%= link_to 'Show', island_collection, class: 'btn' %>
			<%= link_to 'Edit', edit_island_collection_path(island_collection), class: 'btn' %>
			<%= link_to 'Remove', island_collection, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
		</div>
	<% end %>
</section>

<%= link_to 'New Island Collection', new_island_collection_path %>