<p id="notice"><%= notice %></p>

<section class="title">
  <h1><%= @island_collection.title %></h1>
  <p class="collection-count">24 / 72 collected</p>
</section>

<section class="collection-items">
  <% @collectibles.each do |collectible| %>
    <div class="collectible" id="<%= collectible.id %>">
      <%= image_tag(collectible.thumbnail, size: "100") %>
      <p><%= link_to collectible.name, collectible %></p>
      <p><%= check_box_tag "Complete", collectible.complete, collectible.complete %></p>
    </div>
  <% end %>
</section>

<div class="modal">
</div>

<%= link_to 'Edit', edit_island_collection_path(@island_collection) %> |
<%= link_to 'Back', island_collections_path %>