<p id="notice"><%= notice %></p>

<section class="heading">
	<div class="title">
		<h1><%= @island_collection.title %></h1>
    	<p class="collection-count"><span id="count-checked-checkboxes">0</span> / <span id="count-checkboxes">0</span> collected</p>
	</div>
	<div class="sort">
		<%select_options = [] %>
		<% @collectibles.first.collectible_attributes.each do |collectible_attribute| %>
			<% select_options.push collectible_attribute.collectible_attribute_type.name %>
		<% end %>
		<div class="sort_by">
			<%= select_tag "sort_by", options_for_select(select_options) %>
		</div>
		<div class="order">
			<%= select_tag "order", options_for_select(['Ascending', 'Descending']) %>
		</div>
		<%= link_to 'Sort', island_collection_sort_path( sort_by: select_options.first, order: 'asc', island_collection_id: @island_collection.id), html_options = { id: 'sort_link' } %>
	</div>
</section>

<section id="collection" class="collection-items">
	<% @collectibles.each do |collectible| %>
		<div>
			<div class="collectible">
				<%= link_to collectible_toggle_path(collectible), :data => {:remote => true, :method => :patch} do %>
					<% unless collectible.thumbnail == nil%>
						<%= image_tag collectible.thumbnail, height: '100', width: '100' %>
					<% end %>
				<% end %>
				<%= check_box_tag "Complete", collectible.complete, collectible.complete, id: collectible.id.to_s + "-complete" , :data => {:remote => true, :url => url_for(collectible_toggle_path(collectible)), :method => :patch } %>
			</div>
			<a class="modal-btn" id="<%= "btn-"+collectible.id.to_s %>"><%= collectible.name %></a>
		</div>
	<% end %>
</section>

<section class="modals">

	
	<div class="modal" id="<%= @collectibles.first.id %>">
		<div>
			<p id="notice"><%= notice %></p>

			<span class="modal-close">X</span>

			<h3 id='modal-collectible-name'><%= @collectibles.first.name %></h3>
			<%= link_to collectible_toggle_path(@collectibles.first), :data => {:remote => true, :method => :patch}, id: 'modal-toggle' do %>
				<% unless @collectibles.first.thumbnail == nil%>
					<%= image_tag @collectibles.first.thumbnail, height: '100', width: '100', id: 'modal-collectible-thumbnail' %>
				<% end %>
			<% end %>
			<%= check_box_tag "Complete", @collectibles.first.complete, @collectibles.first.complete, id: "modal-checkbox" %>

			<div class="collectible-data">
				<% collectible_attribute_counter = 0 %>
				<% @collectibles.first.collectible_attributes.each do |att|%>
					<p class="modal-collectible-attribute-type" value='<%= collectible_attribute_counter %>'><%= att.collectible_attribute_type.name %></p>
					<div class="modal-collectible-attribute-value" value='<%= collectible_attribute_counter %>'><%= render partial: 'collectible_attributes/show', locals: { collectible_attribute: att } %></div>
					<% collectible_attribute_counter = collectible_attribute_counter + 1 %>
				<% end %>
			</div>
	
			<div class="collectible-edit">
				<%= link_to 'Edit', edit_collectible_path(@collectibles.first) %>
			</div>
		</div>
	</div>
	

</section>

<%= link_to 'Edit', edit_island_collection_path(@island_collection) %> |
<%= link_to 'Back', island_collections_path %>