<p id="notice"><%= notice %></p>

<section class="heading">
	<div class="title">
	<p>here<%= session[:userinfo]['uid'] %></p>
		<h1><%= @island_collection.title %></h1>
    	<p class="collection-count"><span id="count-checked-checkboxes">0</span> / <span id="count-checkboxes">0</span> collected</p>
	</div>
	<div class="sort">
		<% select_options = ["Default", "Name", "Collected"] %>
		<% @island_collection.collectibles.first.collectible_attributes.each do |collectible_attribute| %>
			<% if collectible_attribute.collectible_attribute_value.class < SortableAttribute %>
				<% select_options.push collectible_attribute.collectible_attribute_type.name %>
			<% end %>
		<% end %>
		<div class="sort_by">
			<%= select_tag "sort_by", options_for_select(select_options) %>
		</div>
		<div class="order">
			<%= select_tag "order", options_for_select([['A-Z (0-9)', 'asc'], ['Z-A (9-0)', 'desc']]) %>
		</div>
		
		<% @island_collection.collectibles.first.collectible_attributes.each do |collectible_attribute| %>
			<% if collectible_attribute.is_filterable %>
				<% collectible_attribute.collectible_attribute_value.filters.each do |filter|%>
					<% if filter[1].class == Hash %>
						<div class="filter-multi-select" >
							<%= label_tag filter[0] %>
							<%= select_tag filter[0], options_for_select(filter[1].invert), multiple: true, html_options: { multiple: true } %>
						</div>
					<% else %>
						<div class="filter-checkbox">
							<%= label_tag filter[1] %>
							<%= check_box_tag filter[0], filter[0]%>
						</div>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		<%= link_to 'Sort', island_collection_sort_and_filter_path( sort_by: select_options.first, order: 'asc', filter: 'none' , island_collection_id: @island_collection.id), html_options = { id: 'sort_link' } %>
	</div>
</section>

<section id="collection" class="collection-items">
	<% @collectibles.each do |collectible| %>
		<div>
			<div class="collectible">
				<%= link_to collectible_toggle_path(collectible), :data => {:remote => true, :method => :patch} do %>
					<% unless collectible.thumbnail == nil%>
						<%= image_tag collectible.thumbnail, height: '100', width: '100' %>
					<% end %>
				<% end %>
				<%= check_box_tag "Complete", collectible.complete, collectible.complete, id: collectible.id.to_s + "-complete" , :data => {:remote => true, :url => url_for(collectible_toggle_path(collectible)), :method => :patch } %>
			</div>
			<%= link_to collectible.name, island_collection_set_modal_path(island_collection_id: @island_collection.id, id: collectible.id), html_options = { remote: true, class: "modal-btn", id: "btn-" + collectible.id.to_s } %>
		</div>
	<% end %>
</section>

<section class="modals">
	<div class="modal" id="modal">
		<%= render partial: "collectibles/show", locals: { collectible: @island_collection.collectibles.first } %>
	</div>
</section>

<%= link_to 'Edit', edit_island_collection_path(@island_collection) %> |
<%= link_to 'Back', island_collections_path %>