<%= form_with(model: birthday, local: true) do |form| %>
  <% if birthday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(birthday.errors.count, "error") %> prohibited this birthday from being saved:</h2>

      <ul>
        <% birthday.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.date_select :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
