<p id="notice"><%= notice %></p>

<h1>Time Of Years</h1>

<table>
  <thead>
    <tr>
      <th>Months</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_of_years.each do |time_of_year| %>
      <tr>
        <td><%= time_of_year.months_id %></td>
        <td><%= link_to 'Show', time_of_year %></td>
        <td><%= link_to 'Edit', edit_time_of_year_path(time_of_year) %></td>
        <td><%= link_to 'Destroy', time_of_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Of Year', new_time_of_year_path %>
