<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @time_of_year.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @time_of_year.end %>
</p>

<%= link_to 'Edit', edit_time_of_year_path(@time_of_year) %> |
<%= link_to 'Back', time_of_years_path %>
