<%= form_with(model: mood_name, local: true) do |form| %>
  <% if mood_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood_name.errors.count, "error") %> prohibited this mood_name from being saved:</h2>

      <ul>
        <% mood_name.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
