<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Animal Crossing Tracker</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<link rel="stylesheet" href="https://use.typekit.net/kyh4nqi.css">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% unless current_page?(new_user_path)%>

<header>
	<nav>
		<ul class="main-menu">
			<li class="logo"><%= link_to(island_collections_path) do %><%= image_tag "logo.png" %><% end %></li>
			<li class="menu"><%= link_to(fish_path) do %>Fish<% end %></li>
			<li class="menu"><%= link_to(bugs_path) do %>Bugs<% end %></li>
			<li class="menu"><%= link_to(fossils_path) do %>Fossils<% end %></li>
			<li class="login"><a>
				<% if session[:userinfo] == nil %>
					<%= button_to 'Login', 'auth/auth0', method: :post %>
				<% else %>
					<%= button_to 'Logout', '/logout', method: :get %>
				<% end %>
			</a></li>
		</ul>

		<ul class="mobile-menu">
			<li class="logo"><%= link_to(island_collections_path) do %><%= image_tag "logo.png" %><% end %></li>
			<li class="ham-menu-icon"></li>
			<ul class="ham-menu">
				<li class="menu"><%= link_to(fish_path) do %>Fish<% end %></li>
				<li class="menu"><%= link_to(bugs_path) do %>Bugs<% end %></li>
				<li class="menu"><%= link_to(fossils_path) do %>Fossils<% end %></li>
				<li class="login"><a>
					<% if session[:userinfo] == nil %>
						<%= button_to 'Login', 'auth/auth0', method: :post %>
					<% else %>
						<%= button_to 'Logout', '/logout', method: :get %>
					<% end %>
				</a></li>
			</ul>
		</ul>
	</nav>
</header>
<% end %>
<%= yield %>


<footer>
	<p class="copyright">&copy;<%= Time.current.year %> <a href="http://secondbaker.github.io" target="_blank">Secondbaker</a> &amp; <a href="http://annabaker.design" target="_blank">Anna Baker Design</a>.</p>
</footer>

</body>

<script>

$('.ham-menu-icon, .ham-menu').click(function() {
  $('.ham-menu').toggleClass('is-open');
  $('.ham-menu-icon').toggleClass('is-open');
});

function checkFilters() {
	var filterString = "none";

	var filters = [];

	var filter_checkboxes = $('.filter-checkbox');

	var filter_multi_selects = $('.filter-multi-select');

	$(filter_checkboxes).each(function( index ) {
		if($(this).find('input:checked').length > 0)
		{
  			filters.push($(this).find('input:checked').attr('value'));
		}
	});

	$(filter_multi_selects).each(function( index ){
		if ($(this).find('select').val().length > 0)
		{
			$(this).find('select').val().forEach(value => filters.push(value) );
		}
	});

	if(filters.length == 0)
	{
		filterString = "none";
	}
	else
	{
		filterString = filters.join('+');
	}
	return filterString;
}

function countCheckbox() {
	return $('#collection input[type="checkbox"]').length;
}

function countCheckedCheckbox() {
	return $('#collection input[type="checkbox"]:checked').length;
}

function setSortLink() {
	var sort_by = $('#sort_by').find(':selected').val().replace(' ', '%20');

	var link = $('#sort_link').prop('href');
	var link_parts = link.split('/');
	var island_collection_id = link_parts[link_parts.length - 1];
	
	var order = $('#order').find(':selected').val();
	if(order === 'Ascending')
		order = 'asc';
	else if (order === 'Descending')
		order = 'desc';

	var filter = checkFilters();
	var newPath = '/collections/' + island_collection_id + '/sort_by/' + sort_by + '/order/' + order + '/filter/' + filter + "/" + island_collection_id;
	
	$('#sort_link').prop('href', newPath);
}

document.getElementById("count-checked-checkboxes").innerHTML = countCheckedCheckbox();
document.getElementById("count-checkboxes").innerHTML = countCheckbox();

$('.collectible').click(
	function(){
		var checkbox = $(this).find('input[type="checkbox"]');

		if (checkbox[0].checked === false) {
			checkbox[0].checked = true;
		}
		else if (checkbox[0].checked == true) {
			checkbox[0].checked = false;
		}

		document.getElementById("count-checked-checkboxes").innerHTML = countCheckedCheckbox();

	}
);

function checkboxToggle(){
	var checkbox = $("#modal-checkbox");

	if (checkbox[0].checked === false) {
		checkbox[0].checked = true;
	}
	else if (checkbox[0].checked == true) {
		checkbox[0].checked = false;
	}

	var checkbox = $('#' + checkbox.attr('data_value') + '-complete');
	if (checkbox[0].checked === false) {
		checkbox[0].checked = true;
	}
	else if (checkbox[0].checked == true) {
		checkbox[0].checked = false;
	}
	document.getElementById("count-checked-checkboxes").innerHTML = countCheckedCheckbox();
}

$('#modal-toggle').click(function(){
	checkboxToggle();
});

$('#sort_by').on('change', function(ev) {
	setSortLink();	
});
$('#order').on('change', function(ev) {
	setSortLink();	
});
$('.filter-multi-select').on('change', function(ev) {
	setSortLink();	
});

$('.filter-checkbox').on('change', function(ev) {
	if($(this).find('input').attr('checked'))
	{
		$(this).find('input').removeAttr('checked');
	}
	else
	{
		$(this).find('input').attr('checked', 'checked');
	}
	setSortLink();
});

var btns = $('.modal-btn');

btns.on('click', function(e) {
	e.preventDefault();
	
	var modal = $(".modal");
	$('#modal_contents').replaceWith("<div id='modal_contents'></div>");
  	modal.toggleClass('visible-modal');
});

$('.modal-close').on('click', function(e) {
	$('.modal').removeClass("visible-modal");
});

</script>
</html>